.paragraph--section_one--title {
    color: white;
}
.paragraph--texto-cyberlunes{
   font-size: 20px;
   line-height: 150%;
    margin-left:70px;
    color: #444747!important;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
}
.paragraph--texto-hogar{
    
    margin-left:70px;
   
}
.paragraph--texto-look{
    margin-left:70px;
}
.paragraph--texto-vinilos{
    margin-left:70px;
}
.paragraph--texto-pinturas{
    margin-left:70px;
}
.paragraph--texto-baños{
    margin-left:70px;
}
.paragraph--texto-pinturas{
    margin-left:70px;
}